:root {
  --main-text-color: white;
  --main-title-size: 30px;
  --main-text-size: 15px;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: rgb(56, 60, 122);
  color: var(--main-text-color);
  
}

